button:hover {
  cursor: pointer;
  background-color: red;
  color: black;
}

button {
  border: none;
  background-color: lightgray;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 3px;
}

.container {
  /* background-color: #fdf7e3; */
  margin-top: 71px;
  display: grid;
  grid-template-columns: 164px 1fr 298px;
  width: 100%;
}

.question-div {
  display: flex;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e5e5e6;
}

.question-content-div > h3 {
  margin-top: 0;
  margin-bottom: 3px;
}

.score-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  height: inherit;
}

#questions-area {
  width: calc(100% - 20px);
  /* padding-left: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* box-sizing: border-box; */
  border-left: 1px solid #bbc0c4;
  background-color: #fdf7e3;
  box-shadow: 0px 0px 10px lightgray;
  margin-left: 10px;
}

#left-side-bar {
  width: 164px;
  position: sticky;
  height: 100vh;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
}

#right-side-bar {
  width: calc(100% - 20px);
  position: sticky;
  background-color: #fdf7e3;
  text-align: center;
  /* border: 1px solid #f1e5bc; */
  border-radius: 3px;
  box-shadow: 0px 0px 10px lightgray;
  margin-right: 20px;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

#header > p {
  font-size: 25px;
  width: calc(100% / 3);
}

#header > div > button {
  height: fit-content;
  background-color: #0095ff;
  border: none;
  color: white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
  padding: .8em;
  font-size: 13px;
  border-radius: 3px;
  line-height: 1.15384615;
  font-family: Arial, Helvetica, sans-serif;
}

#header > div > button:hover {
  background-color: rgb(0,99,205);
}

#header > div {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
}

#header > div#askQuestionButton {
  display: flex;
  justify-content: flex-end;
  width: calc(100% / 3);
}

h3 > a {
  text-decoration: none;
  color: black;
}

button > a {
  text-decoration: none;
  color: black;
  font-size: 1.07em;
  font-weight: bold;
}

.question-and-delete > button:hover {
  background-color: transparent;
}

#questions {
  background-color: #fdf7e3;

}
.question-and-delete > button {
  padding: 0;
  margin: 0;
  background: transparent;
  text-align: start;
  max-width: 75%;
  height: fit-content;
}

button > h3 {
  margin: 0;
  /* font-size: 1.17em; */
  /* height: 3.21em; */
  padding-bottom: 1.07em;
  height: fit-content;
  min-height: fit-content;
}

button > h3 > a {
  font-size: 1.07em;
  height: 100%;
  display: flex;
  align-items: center;
  /* height: fit-content; */
}

.question-content-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fdf7e3;
}

.question-details {
  display: flex;
  justify-content: space-between;
}

.question-and-delete {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  height: fit-content;
  justify-self: flex-start;
  align-self: center;
}
