body {
  background-color: white;
}

#container.profile-container {
  margin-top: 71px;
  display: grid;
  grid-template-columns: 164px 1fr 200px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: -24px;
  padding-top: 24px;
  padding-bottom: 0px;
}

#left-side-bar.profile-left-bar {
  height: 100vh;
  position: sticky;
}

#container > p {
  text-align: center;
}

#user-picture {
  padding: 20px;
}

#user-picture img {
  height: 164px;
  width: 164px;
}

#user-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-left: 1px solid #bbc0c4;
  box-sizing: border-box;
}

#user-info {
  display: flex;
  align-items: center;
}

#user-helpful-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
